In [3]:
import pyodbc
import pandas as pd

# Connection parameters
server_name = 'dbc-6c6cc57e-4bc8.cloud.databricks.com'
http_path = '/sql/1.0/warehouses/a6a866435c7756a6'
user_name = 'hossam.ibrahim@hlag.com'
password = 'Only1611myself@'  # Please avoid hardcoding this.

# Connection string
conn_str = f"""
Driver={{Simba Spark ODBC Driver}};
Host={server_name};
Port=443;
SparkServerType=3;
ThriftTransport=2;
SSL=1;
AuthMech=3;
HTTPPath={http_path};
UID={user_name};
PWD={password};
"""

# Establish connection
conn = pyodbc.connect(conn_str, autocommit=True)

In [4]:
query = "select * from sfa_dl_bronze_prod.fis2.db2prod_tc0080 limit 100;"  # Replace with your actual schema and table
df = pd.read_sql(query, conn)
df.head()
conn.close()

/var/folders/kx/c_gvkc896hscb0c1r1j14sph0000gn/T/ipykernel_69905/3319905944.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [5]:
df.head()

,CLIENT,ID_NUMBER,LC_VALID_STATE_A,CREATION_TIMESTAMP,CREATED_BY,LAST_CHANGE,CHANGED_BY,USER_SALES_HIER,CALL_CONTEXT,SHIPMENT_CONTEXT,...,header__key_columns,header__raw_zone_partition,header__job_run_id,header__event_timestamp_string,header__processing_timestamp,header__bronze_timestamp,year,month,day,hour
0,1,166165861,A,2019-11-04 08:48:44.235799,3cf1436f315ca6b2444791a12e6ecd6e9c4b5e48a43e87...,2.019308e+14,3cf1436f315ca6b2444791a12e6ecd6e9c4b5e48a43e87...,None,U,0,...,"CLIENT,ID_NUMBER",db2prod_tc0080,973136564609905_186294287117062,1970-01-01 00:00:00.000000,1970-01-01,2023-07-04 11:20:17.932822,1970,01,01,00
1,1,180238252,A,2020-01-01 20:40:54.220330,1b1394897d4ca69fda166169143fa1e2fba3ec4bdf768c...,2.020001e+14,1b1394897d4ca69fda166169143fa1e2fba3ec4bdf768c...,bc8b4bfb7aa931495a3f99e83ea2368d1c3e303479be40...,S,0,...,"CLIENT,ID_NUMBER",db2prod_tc0080,973136564609905_186294287117062,1970-01-01 00:00:00.000000,1970-01-01,2023-07-04 11:20:17.932822,1970,01,01,00
2,1,116064610,A,2019-03-12 18:24:39.981166,3cf1436f315ca6b2444791a12e6ecd6e9c4b5e48a43e87...,2.019071e+14,3cf1436f315ca6b2444791a12e6ecd6e9c4b5e48a43e87...,None,U,0,...,"CLIENT,ID_NUMBER",db2prod_tc0080,973136564609905_186294287117062,1970-01-01 00:00:00.000000,1970-01-01,2023-07-04 11:20:17.932822,1970,01,01,00
3,1,180238253,A,2020-01-01 20:40:54.783127,1b1394897d4ca69fda166169143fa1e2fba3ec4bdf768c...,2.020001e+14,1b1394897d4ca69fda166169143fa1e2fba3ec4bdf768c...,bc8b4bfb7aa931495a3f99e83ea2368d1c3e303479be40...,S,0,...,"CLIENT,ID_NUMBER",db2prod_tc0080,973136564609905_186294287117062,1970-01-01 00:00:00.000000,1970-01-01,2023-07-04 11:20:17.932822,1970,01,01,00
4,1,166165862,A,2019-11-04 08:48:44.477954,3cf1436f315ca6b2444791a12e6ecd6e9c4b5e48a43e87...,2.020025e+14,5f6cb238e72342811be22fdc1683f97c4e1e2028fa5a15...,None,W,0,...,"CLIENT,ID_NUMBER",db2prod_tc0080,973136564609905_186294287117062,1970-01-01 00:00:00.000000,1970-01-01,2023-07-04 11:20:17.932822,1970,01,01,00